<p>
  hdd-cdd works!
  <a href="" (click)="sendMeHome()"><strong>Take me back</strong></a>
</p>

<div id="form" onload="onload();">
    <form class="form-inline justify-content-center">
            <div class="form-group mb-2">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Select Date Range : </label>
                <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                    <input #newDate
                        (keyup.enter)="hdd_cdd_filter(newDate.value)"
                        (blur)="hdd_cdd_filter(newDate.value); newDate.value='' "
                        class="form-control" 
                        placeholder="Daterangepicker" 
                        name = "daterange"
                        bsDaterangepicker #dpr="bsDaterangepicker">
                </div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-primary" id="sortFuture" ngbDropdownToggle>{{selectedFuture}}</button>
                    <div class="dropdown-menu" aria-labelledby="sortFuture" ngbDropdownMenu>
                        <button class="dropdown-item" *ngFor="let future of futures" (click)="ChangeFuture(future)" >{{future}}</button>
                    </div>
                </div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                    <div class="dropdown" ngbDropdown>
                        <button class="btn btn-primary" id="sortMenu" ngbDropdownToggle>{{selectedCity}}</button>
                        <div class="dropdown-menu" aria-labelledby="sortMenu" ngbDropdownMenu>
                            <button class="dropdown-item" *ngFor="let city of cities" (click)="ChangeCity(city)" >{{city}}</button>
                        </div>
                    </div>
            </div>
            <div class="form-group mb-2">
                <button (click)="hdd_cdd_filter(newDate.value)" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>
<br>

<div class="container-fluid">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Business Date</th>
          <th scope="col">Price</th>
          <th scope="col">Currency</th>
          <th scope="col">Security Description</th>
          <th scope="col">City Code</th>
          <th scope="col">Index Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of filteredResponse ; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{res.BusinessDate}}</td>
            <td>{{res.Price}}</td>
            <td>{{res.Currency}}</td>
            <td>{{res.SecurityDescription}}</td>
            <td>{{res.city_code}}</td>
            <td>{{res.index_code}}</td>
        </tr>
      </tbody>
    </table>
</div>
