h3 {
    text-align: center;
}
#form {
    text-align: center;
}
.graph-center {
    margin: auto;
    width: 70%;
    height: 10%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#body {
    text-align: center;
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}