<h3>New York, Historical HDD Prices - Jan, 2018 for Dec, 2018 trade </h3>
<div id="form">
  <form class="form-inline justify-content-center">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Select Date Range : </label>
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
      <input class="form-control" placeholder="Daterangepicker" bsDaterangepicker #dpr="bsDaterangepicker">
    </div>
    <input type="submit" value="Submit" name="submit_dates" class="btn btn-primary">
  </form>
</div>
<br>
<div class="row">
  <div *ngIf="chart" class="graph-center">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
